<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    </head>
<html>
<body>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="myHeader">
            <div class="panel-heading">
                <h2>Course Registration Online System<sub>(CRO)</sub></h2>
            </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p>John Done</p>
                        <p>NVE-4472</p>
                        <p>+21043567937</p>
                        <p>johndone@dksu.edu</p>
                    </div>
                    <div class="col-sm-6">
                        <p>83 of 120 Credit</p>
                        <p>Undergraduate</p>
                        <p><a routerLink="/registration" routerLinkActive="active">Back to Registration</a></p>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <p>Registration ID : 34233544</p>
                        <p>Course : SK103- Literature in Sanskrit Language</p>
                        <p>Semester : Winter 2021</p>
                    </div>
                    <div class="col-sm-6">
                        <h3>Register Information</h3>
                        <br>
                        <br>
                        <br>
                        <button type="button" routerLink="/information" routerLinkActive="active">Dashboard</button>
                        
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="panel-footer">
                <h4 class="glyphicon glyphicon-copyright-mark">
                    Dekastan State University(Civitas Universitas Dekastan)
                </h4>
            </div>
        </div>
    </div>
    
    </body>
    </html> 