.panel{
    font-size: 18px;
}
.myHeader{
    color: black;
    background: violet;
}
button{
    background: violet;
    font-size: 18px;
    padding: 8px 10px;
}
.panel-footer{
    background: violet;
    color: black;
    height: 100px;
    font-size: 20px;
}
h3{
    font-weight: bold;
}
sub{
    background:yellow;
    box-sizing: border-box;
    font-size: 15px;
    padding: 4px 8px;
    margin: 10px;
}
h4{
    padding: 20px;
}